body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Навігаційний бар */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar-menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar-menu li {
    display: inline;
}

.navbar-menu a {

    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
}


/* Основний вміст */
.content {
    padding: 20px 0;
}

.home-section {
    text-align: center;
    padding: 40px 0;
}

.home-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}


.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin: 10px 0 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

.table-info {
    margin-top: 40px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

table th, table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #005f73;
    color: white;
}

table tr:hover {
    background-color: #f1f1f1;
}

.overall-info {
    margin-top: 40px;
}

.overall-info h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.teacher-list {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.teacher-list p {
    margin: 10px 0;
}

.teacher-list p strong {
    font-size: 18px;
    color: #333;
}

.class-info {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.class-info p {
    margin: 10px 0;
}

.class-info p strong {
    font-size: 18px;
    color: #333;
}

.student-info {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.student-info p {
    margin: 10px 0;
}

.student-info p strong {
    font-size: 18px;
    color: #333;
}